# Core functionality - changes here should be rare!
/src/app.py                   @AtieJolo27
/src/backend/database.py      @AtieJolo27
/src/backend/routers/auth.py  @AtieJolo27

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AtieJolo27
